* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #f5f5f5;
}

.container {
  max-width: 85%;
  margin: 0 auto;
}

.logo img {
  display: flex;
  width: 200px;
}

.HeaderContent {
  position: absolute;
  top: 20px;
  width: 85%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
}

li a {
  margin-left: 20px;
  text-decoration: none;
  font-size: 20px;
  font-family: "Trajan Pro", sans-serif;
}

#about {
  height: 300px;
  margin-top: 90px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: sans-serif;
  font-weight: 500;
}

h3 {
  text-align: center;
}

#faleConosco {
  height: 300px;
}

.ImgLinks {
  display: flex;
  margin-top: 60px;
  justify-content: space-around;
}

footer {
  height: 300px;
}

#NossoServiço {
  height: 300px;
}
